<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment" class="header">
    <div class="header__inner">

        <!-- Brand -->
        <div class="header__brand">
            <div class="brand-wrap">

                <div class="brand-title">교환기 동기화</div>

            </div>
        </div>
        <!-- End - Brand -->

        <div class="header__content">
            <div class="header__content-start">

                <!-- Navigation Toggler -->
                <button type="button" class="nav-toggler header__btn btn btn-icon btn-sm d-none" aria-label="Nav Toggler">
                    <i class="demo-psi-view-list"></i>
                </button>

            </div>
        </div>

    </div>
</header>
</html>
